
.result {
  background-color: rgb(243, 218, 255);
  width: 100%;
}

.result p {
  font-size: 40px;
  margin: 5px;

}

.calculator-body {
  max-width: 400px;
  margin: auto;
}

.button {
  display: block;
  background-color: #bbb;
}

div button {
  width: 24%;
  height: 60px;
  font-size: 50px;
}

.marginB {
  margin-bottom: 10px;
}

.red{
  color: red;
}